<div class="row top-menu">
    <div class="col-md-6">
        <a href="{{url_for('showRestaurants')}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Restaurants
        </a>
    </div>
    <div class="col-md-6 text-right">
        <a href="{{url_for('showLogin') }}">Login</a>
        <a href="#" onclick="signOut();">Sign out</a>
    </div>
</div>

<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

<script>
    function init() {
        gapi.load('auth2', function () { 
            // Ready.
        });
    }

    function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                });
            }
</script>